{% extends "lab_8/layout/base.html" %}
{% block content %}
<section>
    <div class="container" id="lab8">
    <button class="btn btn-primary" id="login" onclick="facebookLogin()">Sign in with Facebook</button>
    </div>
</section>
{% endblock %}
