{% extends "lab_4/layout/base.html" %}

{% block content %}
<style type="text/css">
	body{
		background-color: skyblue;
	}
	.imam{
		width: 400px;
		height: 400px;
		border-radius: 70%;
		margin-left: 400px;
	}
	.porto{
		margin-left: 523px;
	}
	.ee{
		margin-left: 480px; 
		color: darkblue; 
		font-family: Chiller; 
	}
</style>
<h1 class="porto" style="color: darkblue">Portofolio</h1>
<img class="imam" src="http://i63.tinypic.com/p9frd.jpg" >
<h1 class="ee">Hallo my Name is Imam</h1>
<hr/>

<section name = "bio">
	<h2>Bio</h2>
	<p style="font-family: Comic Sans Ms">
		{{content}}
	</p>
</section>

<hr/>
<section name = "about_me">
	<h2>List</h2>
	<ul style="font-family: Comic Sans Ms">
		{% for ii in about_me %}
		<li> {{ii}} </li>
		{% endfor %}
	</ul>
</section>
<hr/>

<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
</section>


{% endblock %}