
                        $.each(list, function(index, friend) {
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friend.fields.npm+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';
                            var detail = '<span class="col-xs-4 col-md-2 pull-right">'+
                                            '<button id="'+friend.fields.npm+'" type="button" class="btn btn-xs btn-default btn-block">'+
                                                'detail'+
                                            '</button>'+
                                         '</span>';
                            var html = '<a class="list-group-item clearfix">'+
                                        friend.fields.friend_name +
                                        ' (' + friend.fields.npm + ')' + button + detail + '</a>';
                            $("#friend-list").append(html)
                            $("#"+friend.fields.npm).on("click", function(){
                                description(friend.fields.friend_name, friend.fields.npm, friend.fields.alamat, friend.fields.ttl, friend.fields.prodi);
                            });
                        });
                    }
                }
            });
        });

        const deleteFriend = function(npm) {
           window.open('delete-friend/'+npm+'/', '_self');
        }

        const description = function(nama,npm,alamat,ttl,prodi) {

        $("#description").empty();
        $("#description").append('<a id="name" class="list-group-item clearfix">Nama: '+nama+'</a>');
        $("#description").append('<a id="npmn" class="list-group-item clearfix">NPM: '+npm+'</a>');
        $("#description").append('<a id="alamat" class="list-group-item clearfix">Alamat: '+alamat+'</a>');
        $("#description").append('<a id="ttl" class="list-group-item clearfix">TTL: '+ttl+'</a>');
        $("#description").append('<a id="prodi" class="list-group-item clearfix">Prodi: '+prodi+'</a>')
        }
    </script>
{% endblock %}
