{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-description" id="friend-description">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2 style="margin-bottom: 20px;">{{nama}}</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-lg-2">
                  <h4>NPM</h4>
              </div>
              <div class="col-md-4 col-lg-4">
                  <h4>{{npm}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-lg-2">
                  <h4>Prodi</h4>
              </div>
              <div class="col-md-4 col-lg-4">
                  <h4>{{prodi}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-lg-2">
                  <h4>TTL</h4>
              </div>
              <div class="col-md-4 col-lg-4">
                  <h4>{{ttl}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-lg-2">
                  <h4>Alamat</h4>
              </div>
              <div class="col-md-4 col-lg-4">
                  <h4 id="alamat">{{alamat}}</h4>
              </div>
            </div>
            <div class="row">
              <div id="googleMap" style="width:300px; height:200px; margin: 50px 0"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script>
	console.log($("#alamat").text());
	var address = $("#alamat").text();

	function initMap() {
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({'address': address}, function(results, status) {
      console.log(status);
			if (status === google.maps.GeocoderStatus.OK) {
				var propertiPeta = {
					center: results[0].geometry.location,
					zoom: 15,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				var peta = new google.maps.Map(document.getElementById("googleMap"), propertiPeta);
				var marker = new google.maps.Marker({
				  map: peta,
				  position: results[0].geometry.location
				});
			} else {
				var html = '<div class="alert alert-danger text-center">\
                            	Lokasi tidak ditemukan!\
                            </div>';
                $("#googleMap").append(html)
			}
		});
	}
</script>
{% endblock %}
