
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
    {% if auto %}
                    <div id="token" hidden="true">{{ auto.access_token }}</div>
                    <div id="cid" hidden="true">{{ auto.client_id }}</div>
                {% endif %}

</section>
{% endblock %}

{% block javascript %}
<script>
    var token = document.getElementById("token").innerHTML;
    var cid = document.getElementById("cid").innerHTML;
    var addFriend = function(nama, npm, alamat, ttl, prodi) {
        $.ajax({
            method: "POST",
            url: "{% url "lab-7:add-friend" %}",
            data: { name: nama, npm: npm, alamat: alamat, ttl: ttl, prodi: prodi },
            success : function (friend) {
                if (friend.valid) {
                    alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
                } 
                else {
                    html = '<a class="list-group-item clearfix">' +
                    nama + ' (' + npm +')</a>';
                    $("#friend-list").append(html)
                }
            
            }
        });
    };

    var viaNPM = function(npm) {
        var corsProxy = 'https://cors-anywhere.herokuapp.com/';
        var obj = new Object(); obj.access_token = token; obj.client_id = cid;
        var param = $.param(obj);
        $.ajax({
            method: "GET",
            url: corsProxy+'https://api-dev.cs.ui.ac.id/siakngcs/mahasiswa/'+npm+'/?'+param,
            success: function(data) {
                addFriend(data.nama, data.npm, data.alamat_mhs,
                          data.kota_lahir+", "+data.tgl_lahir,
                          data.program[0].nm_org+" ("+data.program[0].nm_prg+")"
                )
            },
            error: function(error) {
                console.log(error)
                alert("Tidak ada mahasiswa dengan NPM tersebut")
            }
        });
    };

    var viaName = function(nama) {
        var corsProxy = 'https://cors-anywhere.herokuapp.com/';
        var obj = new Object(); obj.access_token = token; obj.client_id = cid;
        var param = $.param(obj);
        $.ajax({
            method: "GET",
            url: corsProxy+'https://api-dev.cs.ui.ac.id/siakngcs/mahasiswa/nama/'+nama+'/?'+param,
            success: function(data) {
                addFriend(data[0].nama, data[0].npm, data[0].alamat_mhs,
                          data[0].kota_lahir+", "+data[0].tgl_lahir,
                          data[0].program[0].nm_org+" ("+data[0].program[0].nm_prg+")"
                )
            },
            error: function(error) {
                console.log(error)
                alert("Tidak ada mahasiswa dengan nama tersebut")
            }
        });
    };

     $("#add-friend").on("submit", function (event) {
        if ($("#field_npm").val()) {
            var npm = $("#field_npm").val();
            viaNPM(npm);
        }
        else {
            var name = encodeURI($("#field_name").val());
            viaName(name);
        }
        event.preventDefault();
    });


    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });
</script>
{% endblock %}
